body{
background-color: rgb(180, 180, 180);
}

#title{
font-size: 100px;
}

#button{

    
        padding: 10px 20px;
        font-size: 16px;
        color: #ffffff;
        background: #000000;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        margin: 20px 0;
        transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1), background 0.3s ease-in-out;
}
    
#button:hover {
        
        transform: scale(1.2);
    }

